<% if user_signed_in? %>
	<span><%= current_user.email %></span>
  <hr>
  <%= link_to 'Переглянути товар', products_path %>
  <hr>
	<p>
    <%= link_to 'Выйти', destroy_user_session_path, :method => :delete %>
  	</p>
<% else %>
    <%= link_to 'Войти', new_user_session_path %> или <%= link_to 'Зарегистрироваться', new_user_registration_path %>
<% end %>
