<p id="notice"><%= notice %></p>

<p>
  <strong>Назва товару:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Розмір товару:</strong>
  <%= @product.size %>
</p>

<p>
  <strong>Повна ціна:</strong>
  <%= @product.price_out %>
</p>

<p>
  <strong>Ціна зі знижкою:</strong>
  <%= @product.price_sale %>
</p>

<p>
  <strong>Дата викладення товару:</strong>
  <%= @product.date_in %>
</p>

<p>
  <strong>Знижка:</strong>
  <%= @product.sale %>%
</p>

<p>
  <strong>Теги: </strong>
  <%= raw @product.categories.map(&:name).map { |t| link_to t, category_path(t) }.join(', ') %>
</p>

<% if current_user.admin? %>
  <p><h3><%= link_to 'Змінити поля товару', edit_product_path(@product) %></h3></p>
<%end%>
<p><h3><%= link_to 'Повернутися на сторінку продуктів', products_path %></h3></p>


<hr>
<div>
  Коментувати
  <%= form_for :comment, url:comments_path do |f| %>
  	<%= render 'comments/form', f:f%>
    <%= f.hidden_field :object_type, value: @product.class.name%>
    <%= f.hidden_field :object_id, value: @product.id%>
  	<%= f.submit "Create" %>
  <% end %>
  Коменти
  <% Comment.where(object: @product).each do |comment| %>
  	<%=render 'comments/comment', comment:comment %>
  <%end%>
</div>
