<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Size:</strong>
  <%= @product.size %>
</p>

<p>
  <strong>Price in:</strong>
  <%= @product.price_in %>
</p>

<p>
  <strong>Price out:</strong>
  <%= @product.price_out %>
</p>

<p>
  <strong>Date in:</strong>
  <%= @product.date_in %>
</p>

<p>
  <strong>Sale:</strong>
  <%= @product.sale %>
</p>

<p>
  <strong>User:</strong>
  <%= @product.user_id %>
</p>

<p>
  <strong>Tags: </strong>
  <%= raw @product.categories.map(&:name).map { |t| link_to t, category_path(t) }.join(', ') %>
</p>

<hr>
<% @comments.each do |comment|%>
<p>User: <b><%= comment.user_id %></b> write: </p>
<%= comment.body %>
<hr>
<% end %>

<%= form_for :comment, url: product_comments_path(product_id: @product.id) do |f| %>

<% if flash[:notice] %>
  <div class="notice"> <%= flash[:notice] %> </div>
<% end %>


<%= f.text_area :body, cols: 5, rows: 5 %><br />

<p><%= f.submit "Send"%></p>

<%end%>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
