<p id="notice"><%= notice %></p>

<p>
  <strong>Назва товару:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Розмір товару:</strong>
  <%= @product.size %>
</p>

<p>
  <strong>Повна ціна:</strong>
  <%= @product.price_out %>
</p>

<p>
  <strong>Ціна зі знижкою:</strong>
  <%= @product.price_sale %>
</p>

<p>
  <strong>Дата викладення товару:</strong>
  <%= @product.date_in %>
</p>

<p>
  <strong>Знижка:</strong>
  <%= @product.sale %>%
</p>

<p>
  <strong>Теги: </strong>
  <%= raw @product.categories.map(&:name).map { |t| link_to t, category_path(t) }.join(', ') %>
</p>

<hr>
<div>
  <% @comments.each do |comment|%>
  <p>Користувач: <b><%= comment.user_id %></b> написав: </p>
  <%= comment.body %>
  <hr>
  <% end %>
  <%= form_for :comment, url: product_comments_path(product_id: @product.id) do |f| %>
  <% if flash[:notice] %>
    <div class="notice"> <%= flash[:notice] %> </div>
  <% end %>
  <%= f.text_area :body, cols: 5, rows: 5 %><br />
  <p><%= f.submit "Надіслати"%></p>
  <%end%>
</div>
<% if current_user.admin? %>
<%= link_to 'Змінити', edit_product_path(@product) %>
<%end%>
<%= link_to 'Назад', products_path %>
